html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	font-size: 0.9em;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}

#searching {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

form-inline {
 width: auto; 
}
